# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.env
*.venv
env/
venv/
ENV/
.venv/
pip-log.txt
pip-delete-this-directory.txt

# Django
*.sqlite3
db.sqlite3
*.log
media/
staticfiles/

# Byte-compiled / optimized / DLL files
*.pyc
*.pyo
*.pyd

# VS Code
.vscode/

# PyCharm
.idea/

# macOS
.DS_Store

# Windows
Thumbs.db

# Environment variables
.env
